h1 {
  text-align: center;
}

h2 {
  position: relative;
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  margin-bottom: 32px;
}

h2:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 6px;
  content: "";
  border-radius: 10px;
  background: #5992de;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form {
  background-color: #d3d3d3;
  padding: 20px 16px;
  text-align: center;
}
input {
  width: 100%;
  margin-top: 5px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}
.register-button {
  border: none;
  width: 200px;
  height: 32px;
  margin: 20px auto 0;
  background-color: #5992de;
  color: #fff;
  border-radius: 8px;
}

.person-text {
  text-align: center;
  margin-top: 32px;
  width: 50%;
}

.person-text p {
  margin: 0;
}

.name {
  font-weight: bold;
  font-size: 20px;
}
.flex-center {
  justify-content: center;
}

p.birthday {
  font-size: 14px;
}

p.age {
  margin-left: 8px;
  font-size: 14px;
}

.delbtn {
  border: none;
  height: 32px;
  margin-top: 8px;
}
.find-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.find-form input {
  border: 1px solid #ccc;
  width: 80%;
  margin: 0;
}
.find-form button {
  width: 20%;
  height: 32px;
  margin-left: 8px;
  border: none;
  background-color: #5992de;
  color: #fff;
  border-radius: 4px;
}

.sort-age-btn {
  position: relative;
  height: 32px;
  border: none;
  background-color: #5992de;
  color: #fff;
  border-radius: 4px;
  margin-top: 16px;
  padding: 0.4em 2em 0.4em 1.2em;
}

.sort-age-btn.asc::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  top: 14px;
  right: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(315deg);
  transition: 0.3s ease;
}

.sort-age-btn.desc::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  right: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  transition: 0.3s ease;
}

.sort-birthday-btn {
  position: relative;
  height: 32px;
  border: none;
  background-color: #5992de;
  color: #fff;
  border-radius: 4px;
  margin: 16px 0 0 8px;
  padding: 0.4em 2em 0.4em 1.2em;
}

.sort-birthday-btn.asc::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  top: 14px;
  right: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(315deg);
  transition: 0.3s ease;
}

.sort-birthday-btn.desc::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  right: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  transition: 0.3s ease;
}
